#header {
	width: 100%;
	border-bottom: 1px solid #ddd;
	.inner {
		width: 1180px;
		height: 120px;
		margin: 0 auto;
		position: relative;
		h1 {
			position: absolute;
			bottom: 15px;
			left: 0px;
			a {
				font: bold 24px/1 'arial';
				color: #444;
			}
		}
		.menuWeb {
			#gnb {
				position: absolute;
				bottom: 0px;
				right: 0px;
				display: flex;
				li {
					a {
						display: block;
						padding: 14px 40px;
						font: bold 14px/1 'arial';
						color: #777;
						&:hover {
							background-color: #555;
							color: #fff;
						}
					}
				}
			}
			.util {
				position: absolute;
				top: 20px;
				right: 40px;
				display: flex;
				gap: 20px;
				li {
					a {
						font: 12px/1 'arial';
						color: #999;
					}
				}
			}
		}
		.btnCall {
			position: absolute;
			top: 50%;
			right: 30px;
			transform: translateY(-50%);
			display: none;
			width: 20px;
			height: 20px;
			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background-color: #000;
				position: absolute;
				top: 0;
				left: 0;
				transition: top 0.5s 0s, transform 0.5s 0.5s;
			}
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background-color: #000;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: bottom 0.5s 0s, transform 0.5s 0.5s;
			}
			span {
				display: block;
				width: 100%;
				height: 2px;
				background-color: #000;
				position: absolute;
				top: 50%;
				margin-top: -1px;
				transition: 0.5s;
				text-indent: -9999999px;
			}
			&.on {
				&::before {
					top: 50%;
					margin-top: -1px;
					transform: rotate(45deg);
				}
				&::after {
					bottom: 50%;
					margin-bottom: -1px;
					transform: rotate(-45deg);
				}
				span {
					transform: translateX(100%);
					opacity: 0;
				}
			}
		}
		.menuMo {
			width: 270px;
			height: 100vh;
			background-color: #333;
			position: fixed;
			top: 0;
			left: -270px;
			z-index: 10;
			padding: 35px 30px;
			transition: all 0.5s;
			display: none;
			&.on {
				left: 0px;
			}
			h2 {
				border-bottom: 1px solid #ccc;
				padding-bottom: 30px;
				a {
					font: bold 24px/1 'arial';
					color: #fff;
					text-align: center;
					display: block;
					margin-bottom: 5px;
				}
				span {
					font-size: 12px;
					color: #aaa;
					text-align: center;
					display: block;
				}
			}
			ul {
				li {
					a {
						display: block;
						padding: 20px 0px;
						text-align: center;
						font: bold 14px/1 '맑은고딕';
						color: #888;
						border-bottom: 1px solid #eee;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1179px) {
	#header {
		.inner {
			width: 100%;
			h1 {
				top: 50%;
				transform: translateY(-50%);
				left: 30px;
			}
			.menuWeb {
				display: none;
			}
			.btnCall {
				display: block;
			}
			.menuMo {
				display: block;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	/* header 영역 없음 */
}
